<header class="header_sticky">	
  <a href="#menu" class="btn_mobile">
    <div class="hamburger hamburger--spin" id="hamburger">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
  </a>
  <!-- /btn_mobile-->
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div id="logo_home">
          <h1><a href="index-2.html" title="Findoctor">My Clinic</a></h1>
        </div>
      </div>
      <div class="col-lg-9 col-6">
        <ul id="top_access">
        
          <li><a href="/register-doctor"><i class="pe-7s-add-user"></i></a></li>
        </ul>
        <nav id="menu" class="main-menu">
          <ul>
            <li>
              <span><a [routerLink]="urlParam" routerLinkActive="active">Home</a></span>
              <span><a href="/list-bookings" routerLinkActive="active">List Bookings</a></span>
            </li>
            <li>
              <span><a *ngIf="loginService.isLoggedIn" href="/list-clinics" routerLinkActive="active">Clinics</a></span>
              
            </li>
            <li>
              <span><a href="/list-doctors">Doctors</a></span>
             
            </li>
                <li><a href="submit-review.html">Submit Review</a></li>
                <li><a *ngIf="!loginService.isLoggedIn" href="/login">Login</a></li>
                <li><a *ngIf="loginService.isLoggedIn" style="color:black" (click)="logOut()">LogOut</a></li>
                <li><a href="/register-doctor">Register Doctor</a></li>
                <li><a href="/register">Register</a></li>
                
              
          </ul>
             
          <!-- <p [TextContent]="'this is a text'"></p> -->
        </nav>
           
                        
        
        <!-- /main-menu -->
      </div>
    </div>
  </div>
  <!-- /container -->
</header>
